
.classpath

.idea/.name

.idea/compiler.xml

*.class

*.lst

*.html

*.properties

*.png

.project

*.prefs

*.css

*.pdf

*.txt

*.gif

*.iml

*.js

.swp

*.xml

*.exec

*.csv

target/test-classes/.netbeans_automatic_build

target/weeklogger-0.0.1-SNAPSHOT.jar

*.jar

*.zip
