
.classpath

.idea/.name

.idea/compiler.xml

*.class

*.lst

*.html

*.properties

*.png

.project

*.prefs

*.css

*.pdf

*.txt

*.gif

*.iml

*.js

.swp

*.xml

*.exec

*.csv

target/*

*.jar

*.zip

